html, body {
    width: 100%;
    min-height: 100%;
    padding:0px;
    margin: 0px
}

body {
    background-color:rgba(20, 20, 25, 0.8); 
    color: #ECE9E7;
    display: flex;
    justify-content: center;
}

#content {
    width: 80%;
    height: 100%;
    padding: 50px; 
    background-color:rgba(20, 20, 25, 1); 
    font-size: 20px
}



@media screen and (min-width:1200px) {
    .form {
        display: flex;
        width: 100%;
        justify-content: space-between; 
    }     
}

.form {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    flex-direction: column;
}

input {
    font-size: 16px;    
    height: 20px;
    color: #ECE9E7;
    border: 1px #ECE9E7 solid;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background: none;
    margin-top: 20px; 

    /*&::placeholder {
        color: $Ebb;    
        font-size: 16px;    
        line-height: 20px;
    }
    &:focus {
        outline: none;
        &::placeholder{
            color: transparent;
        }
    }*/
}


a {
    color: #ECE9E7;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;    
    line-height: 20px;
}

input:focus {
    outline: none;
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.hidden {
    visibility: hidden;
}

.next {
    margin-top: 50px;
    text-align: center; 
    height: 2500px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.anneau {
    text-align: center;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes  fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
